[submodule "upstream/buildroot"]
	path = upstream/buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
[submodule "sources/proaudio-player"]
	path = sources/proaudio-player
	url = ../proaudio_player.git
