[Unit]
Description=AirPlay receiver for ProAudio Player
After=dbus.service network.target avahi-daemon.service proaudio-player-buses.service
Wants=dbus.service proaudio-player-buses.service
Requires=avahi-daemon.service

[Service]
Type=simple
User=proaudio-player
Group=proaudio-player
Environment=XDG_RUNTIME_DIR=/run/proaudio-player
ExecStart=/usr/bin/shairport-sync -c /etc/proaudio-player-alert/shairport-sync.conf
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
