[Unit]
Description=ProAudio Player web interface
After=dbus.service proaudio-player-buses.service proaudio-player-mpd.service
Wants=dbus.service
Requires=proaudio-player-buses.service proaudio-player-mpd.service

[Service]
Type=simple
User=proaudio-player
Group=proaudio-player
StateDirectory=proaudio-player-alert
StateDirectoryMode=0750
Environment=XDG_RUNTIME_DIR=/run/proaudio-player
Environment=PULSE_SERVER=unix:/run/pulse/native
ExecStart=/usr/bin/proaudio-player-webui --config /etc/proaudio-player-alert/config.yaml
Restart=always
RestartSec=5
NoNewPrivileges=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
